<div class="container-fluid footer">
    <div class="row">
        <div class="col-lg-5">
            <h1>Kitchen</h1>
            <p>GOOD FOOD, GOOD EAT</p>
        </div>
        <div class="col-lg-5">
            <a routerLink="">Home</a>
            <a routerLink="menu">Menu</a>
            <a routerLink="about">about</a>
            <a routerLink="contact">contact</a>
        </div>
        <div class="col-lg-2">
            <a href="https://www.facebook.com/mina.fady.315" target="_blank"><i class="bi bi-facebook"></i></a>
            <a href="https://www.instagram.com/mina.fady.315" target="_blank"><i class="bi bi-instagram"></i></a>
            <a href="https://www.facebook.com/mina.fady.315" target="_blank"><i class="bi bi-whatsapp"></i></a>
            <a href="https://www.facebook.com/mina.fady.315" target="_blank"><i class="bi bi-youtube"></i></a>

        </div>
    </div>
</div>