.contact{
    background-image: url('../../../assets/Img/contact.jpg');
    width: 100%;
    height: 600px ;
    background-position: center ;
    background-size: cover;
}
.form-control{
    margin-top: 10%;
}